# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: 代码编译测试

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: macos-13-xl
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Get Git Commit Log
      id: git-commit-log
      run: echo "GIT_COMMIT_LOG=${{ github.sha }}" >> $GITHUB_ENV

    - name: Get current time
      uses: josStorer/get-current-time@v2
      id: current-time
      with:
        format: YYYYMMDD-HH
        utcOffset: "+08:00"

    - name: Get Build Time
      id: build-time
      run: echo "BUILD_TIME=${{ steps.current-time.outputs.readableTime }}" >> $GITHUB_ENV

    - name: Print Environment Variables
      run: |
        echo "${{env.GIT_COMMIT_LOG}}"
        echo "${{env.BUILD_TIME}}"

    - name: GF CLI Build Binary
      run: |
        go build 
        pwd

