# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: 代码编译测试

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pull-requests: read


jobs:
  golangci-latest:
    name: Go Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53

  build-test:
    runs-on: ubuntu-latest
    needs: golangci-latest
    name: Go 1.21 Build Test
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Get Git Commit Log
      id: git-commit-log
      run: echo "GIT_COMMIT_LOG=${{ github.sha }}" >> $GITHUB_ENV

    - name: Get current time
      uses: josStorer/get-current-time@v2
      id: current-time
      with:
        format: YYYYMMDD-HH
        utcOffset: "+08:00"

    - name: Get Build Time
      id: build-time
      run: echo "BUILD_TIME=${{ steps.current-time.outputs.readableTime }}" >> $GITHUB_ENV

    - name: Print Environment Variables
      run: |
        echo "${{env.GIT_COMMIT_LOG}}"
        echo "${{env.BUILD_TIME}}"

    - name: Go Build Binary - Windows amd64
      run: |
        GOOS=windows GOARCH=amd64 go build
        pwd

  go-test:
    runs-on: windows-latest
    needs: build-test
    name: Go Test
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
        cache: false

    - name: Go Test
      run: |
        go test -v ./g_test -tag="@test" -baseurl="${{ secrets.BACKEND_URL }}"
        pwd